{% extends 'stroyinvest/base.html' %}

{% load custom_digits %}

{% block title %}Виконання{% endblock %}

{% block content %}

<div class="container">

  <h4 class="d-flex justify-content-center align-items-center p-2 ">{{ title }}</h4>

  <form method="get">

    <div class="container d-flex align-items-center mb-2 form-label">
      {% for field in filter.form %}
        <div class="col-auto justify-content-start p-1">
          <label for="{{ field.id_for_label }}" class="visually-hidden g-1">{{ field.label }}</label>
            {{ field }}
        </div>
      {% endfor %}
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-secondary btn-sm me-3">Оновити</button>
        </div>
        <div class="col-auto ms-auto">
          <a href="{% url "estimation:add_contract" %}" class="btn btn-outline-success btn-sm ms-3">Додати</a> 
        </div>
    </div>
    
    <table class="table table-warning table-bordered table-hover text-center text-top small mt-2 pt-2">
      <thead>
        <tr class="align-middle">
          <th scope="col">Номер з/п</th>
          <th scope="col">Номер та дата договору</th>
          <th scope="col">З ким укладено договір</th>
          <th scope="col">Найменування об'єкту</th>
          <th scope="col">Виконання, грн</th>
          <th scope="col">Заробітна плата, грн</th>
          <th scope="col">Трудовитрати, люд./год.</th>
          <th scope="col">Номер та дата акту</th>
          <th scope="col">Примітка</th>
          <th scope="col">Вибрати</th>
        </tr>
      </thead>
      <tbody>
        {% for item in filtering_contracts %}
          {% with contract=item.contract acts=item.acts %}
            {% for act in acts %}
              <tr class="table-light">
                {% if forloop.first %}
                  <!-- Відображаємо дані контракту лише в першому рядку групи -->
                  <td class="fw-normal" rowspan="{{ acts|length }}">{{ forloop.parentloop.counter }}</td>
                  <td class="fw-normal" rowspan="{{ acts|length }}">{{ contract.number }} від {{ contract.date_signing|date:"d.m.Y" }}</td>
                  <td class="fw-normal" rowspan="{{ acts|length }}">
                    {% if contract.type == "ГП" %}
                      {{ contract.customer }}
                    {% else %}
                      {{ contract.contractor }}
                    {% endif %}
                  </td>
                  <td class="fw-normal" rowspan="{{ acts|length }}">
                    {% if contract.type == "ГП" %}
                      {{ contract.subject_contract }}
                    {% else %}
                      "СП"
                    {% endif %}
                  </td>
                {% endif %}

                <!-- Відображаємо дані про акт -->
                <td class="fw-normal">{{ act.summ|format_currency }}</td>
                <td class="fw-normal">{{ act.salary|format_currency }}</td>
                <td class="fw-normal">{{ act.man_hours|format_currency }}</td>
                <td class="fw-normal">
                  {% if user.is_authenticated %}
                    <a href="{% url 'estimation:edit_act' act.id %}">
                      {{ act.number }}
                      {% if act.date %}
                        від {{ act.date|date:"d.m.Y" }}
                      {% endif %}
                    </a>
                  {% else %}
                    {{ act.number }}
                    {% if act.date %}
                      від {{ act.date|date:"d.m.Y" }}
                    {% endif %}
                  {% endif %}
                </td>          
                <td class="fw-normal">{{ act.description|default:"-" }}</td>
                <td class="fw-normal">
                  <input type="checkbox" name="selected" value="{{ act.id }}">
                </td>
              </tr>
            {% endfor %}
          {% endwith %}
        {% endfor %}

        <tr class="table-light">
          <td colspan="4"><b>ВСЬОГО</b></td>
          <td><b>{{ summ|format_currency }}</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
  </br>
  </br>
{% endblock %}
