{% extends 'stroyinvest/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  
  <div class="container">
    <h3 class="d-flex justify-content-center align-items-center">{{ title }}</h3>
    <div class="col-md-10 mx-auto col-lg-5 mt-3">
      <form class="form-multiline p-4 p-md-5 border bg-body-tertiary" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="container">
          <button class="w-100 btn btn-lg btn-primary" type="submit" name="action" value="post">Зберегти</button>
          {% if button_delete %}
            <button class="w-100 btn btn-lg btn-danger mt-1" type="submit" name="action" value="delete">Видалити</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
