{% extends 'stroyinvest/base.html' %}

{% load django_bootstrap5 %}

{% block title %}Реєстрація користувача{% endblock %}

{% block content %}
  
  <h3 class="d-flex justify-content-center align-items-center p-2 ">Реєстрація користувача</h3>

  <div class="col-md-10 mx-auto col-lg-5">
    <form class="form-multiline p-4 p-md-5 border bg-body-tertiary" method="post" action="{% url 'users:register' %}">
      {% csrf_token %}
      {% bootstrap_form form %}

      <button class="w-100 btn btn-lg btn-primary" type="submit">Зареєструвати</button>
      <input type="hidden" name="next" value="{% url 'users:panel' %}" />
    </form>
  </div>
    
{% endblock %}