{% extends 'stroyinvest/base.html' %}

{% load django_bootstrap5 %}

{% block title %}Проекти{% endblock %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Проекти:</h5>
    <h5 class="mb-0"><a class="btn btn-primary" href="{% url 'projects:create_project' %}">Додати проект</a></h5>
  </div>

  <div class="container">
    {% for project in projects %}
      <ul>
        <li>
          <a class="link" href="{% url 'projects:project' project.id %}">{{ project }}</a>
        </li>
      </ul>
    {% endfor %}
  </div>  
</div>
{% endblock %}