{% extends 'stroyinvest/base.html' %}

{% load django_bootstrap5 %}

{% block title %}Редагувати проект{% endblock %}

{% block content %}
<div>

  <h3 class="d-flex justify-content-center align-items-center p-2 ">Редагуйте проект</h3>

  <div class="col-md-10 mx-auto col-lg-5">
    <form class="form-multiline p-4 p-md-5 border bg-body-tertiary" method="post" action="{% url 'projects:edit_project' project.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="w-100 btn btn-lg btn-primary" type="submit">Оновити</button>
      <input type="hidden" name="next" value="{% url 'projects:edit_project' project.id %}" />
    </form>
  </div>
</div>
{% endblock %}