{% extends 'stroyinvest/base.html' %}

{% load django_bootstrap5 %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div>

  <h3 class="d-flex justify-content-center align-items-center p-2">{{ project.name }}</h3>
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Відповідальні:</h5>
    <h5 class="mb-0"><a class="btn btn-primary" href="{% url 'projects:edit_project' project.id %}">Редагувати</a></h5>
  </div>

  <table class="table table-success table-bordered table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Менеджер</th>
        <th scope="col">Інженер ПТО</th>
        <th scope="col">Прораб</th>
        <th scope="col">Кошторисник</th>
        <th scope="col">Постачання</th>
        <th scope="col">Бухгалтер</th>
        <th scope="col">Економіст</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <tr>
        {% for employe in employees %}
          {% if employe %}
            <td>
              {{ employe }}</br>
              {{ employe.mobile_phone }}</br>
              {% if employe.internal_phone %}
                внутрішній {{ employe.internal_phone }}</br>
              {% endif %}
            </td>
          {% else %}
            <td>не призначено</td>
          {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
  
</div>
{% endblock %}